<h4 id="Experiences">Past Experiences</h4>

<ol>
  <li>2022.11 - 2023.6,Worked as a Research Assistant in Smart Media Computing Lab, Beijing Normal University.</li>
  <li>2023.5 - 2023.9, Worked as a Research Assistant in Institute for AI Industry Research, Tsinghua University <a href = "https://air.tsinghua.edu.cn/gyair/AIRjj.htm"</a></li>
  <li>2023.1 - 2023.4, Worked as a Data Analyst Intern in Didichuxing</li>
  <li>2023.5 - 2023.8, Worked as a Product Manager Intern in ByteDance</li>
</ol>
<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
<div class="badge-base LI-profile-badge" data-locale="zh_CN" data-size="large" data-
